.page{

	height: 1000px;
	width: 100%;
	border-style: groove;




}

.header{

	height: 200px;
	width: 100%;
	border-style: groove;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	background-image: url('images/logo.jpg');
	background-repeat: no-repeat;
	background-color: rgb(0, 0, 255);
	
}

.link{


	height: 30px;
	width: 100%px;
	margin-top: 5px;
	border: groove;
	background-color: rgb(0, 0, 255);

}

.link a{

color: rgb(245, 246, 251);
text-decoration: none;

}

.link a:hover {
	background-color: rgb(255, 0, 0);
	color: rgb(245, 246, 251);
	



}

.bodypart{
	width: 1300px
	height:800px;
    margin-top: 5px;
    border-style: groove;

}

.bodypart .imagepart{
	width: 700px;
	height: 739px;	
	border-style: groove;
	background-image: url("images/kathmandu.jpg");
	background-repeat: no-repeat;
	display: inline-block;

}


.bodypart .newspart{
	width: 500px;
	height: 739px;
	border-style: groove;
	float: right;
}

.bodypart .newspart h2 {

	color: red;
	padding: 10px;
	text-align: center;
}
.bodypart .newspart .news{
	width: 500px;
	height: 650px;
	border-style: groove;
	

}

.bodypart .newspart .news h3{

	color: blue;

}

.footer{
width: 100%;
height: 125px;
border-style: groove;
background-color: rgb(0, 0, 255);

}

.footer .info h3{
	color: rgb(245, 246, 251);
    text-decoration: none;


}




